/*!
* Custom v1.0
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
/*------------------------------------------------------------*/
/*GENERAL*/
/*------------------------------------------------------------*/
.hide-element{
    display: none!important;
}

.full-width{
    width: 100%;
}


/*------------------------------------------------------------*/
/*SQUARE BUTTONS*/
/*------------------------------------------------------------*/

.btn-sq-lg {
    width: 150px ;
    height: 150px ;
}
.btn-sq {
    width: 80px ;
    height: 80px ;
    font-size: 10px;
    margin: 2px;
}
.btn-sq-sm {
    width: 50px ;
    height: 50px ;
    font-size: 10px;
}
.btn-sq-xs {
    width: 25px ;
    height: 25px ;
    padding:2px;
}

/*------------------------------------------------------------*/
/*NOTIFICATIONS BAR*/
/*------------------------------------------------------------*/
.update-nag{
    display: inline-block;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    color: #212121;
    height: 40px;
    width: 100%;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
}
.update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}
.update-nag > .update-split{
    background: #337ab7;
    width: 33px;
    float: left;
    color: #fff;
    height: 100%;
    text-align: center;
}
.update-nag > .update-split > .fa{
    position:relative;
    top: calc(50% - 9px); /* 50% - 3/4 of icon height */
}
.update-nag > .update-split.update-success{
    background: #5cb85c;
}

.update-nag > .update-split.update-danger{
    background: #d9534f;
}

.update-nag > .update-split.update-info{
    background: #5bc0de;
}
.update-nag > .update-text{
    line-height: 19px;
    padding-top: 11px;
    padding-left: 45px;
    padding-right: 20px;
}
